/* Style for the profile image */
img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}
/* Style for the table */
.table {
  width: 100%;
  margin-bottom: 70px;
}
/* Width for the right column */
.narrow {
  padding-top: 40px;
  width: 30%
}
/* Align the profile image at the center */
.aligned {
  text-align: center;
}
/* Style for each section in the table */
.intro {
  margin-top: 20px;
  padding-right: 40px;
  text-align: left;
}
.education {
  padding-top: 0.8em;
  padding-bottom: 0.4em;
  font-size: 2em;
  font-weight: bolder;
}
.degree {
  font-weight: bolder;
}
.school {
  padding-left: 15px;
  padding-bottom: 0.8em;
}
.period {
  padding-left: 60px;
}

/* Hide mobile version table for larger screen */
@media only screen and (min-width: 1050px) {
  .mobile_content {
    display: none;
  }
}

/* Hide full size table for smaller screen */
@media only screen and (max-width: 1050px) {
  .large {
    display: none;
  }
  .container_div {
    margin: 15px;
  }
  /* Resize the profile image */
  img {
    width: 150px;
  }
  /* Style for contents on smaller screen */
  .mobile_content {
    font-size: 0.7em;
    margin-bottom: 80px;;
  }
  .mobile_intro {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .mobile_education {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
  }
  .mobile_degree {
    font-weight:bolder;
    text-align: center;
  }
  .mobile_school {
    padding-bottom: 0.8em;
    text-align: center;
  }
}
