/* Style for the band logo images */
img {
    width: 400px;
    height: auto;
    float: left;
  }
/* Style for the table */
  #table_band {
    margin-bottom: 40px;
  }
  /* Style for each section */
  .content {
    width: 70%;
    margin-left: 80px;
  }
  .title {
    margin-left: 80px;
    font-size: 1.5em;
    font-weight:bolder;
  }
  .intro {
    margin-left: 80px;
    text-align: left;
  }
  .link_p {
    margin-left: 80px;
    text-align: left;
  }
  .link{
    text-align: left;
    color: white;
  }
  .link a{
    text-decoration: underline;
  }

  /* Accomodation for smaller screen */
/* Hide mobile version table for larger screen */
@media only screen and (min-width: 1050px) {
    .mobile_content {
      display: none;
    }
  }
  /* Hide full size table for smaller screen */
  @media only screen and (max-width: 1050px) {
    .large {
      display: none;
    }
    /* Set the margin for smaller screen */
    .container_div {
      margin: 0;
    }
    img {
      width: 100%;
    }
    /* Style for content on smaller screen */
    .mobile_content {
      margin: 0;
      font-size: 0.7em;
      margin-bottom: 80px;
      text-align: center;
    }
    .mobile_band {
      padding: 15px;
    }
    .content {
      width: 10%;
    }
    .title {
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0.5em;
      font-size: 1.8em;
      font-weight: bolder;
    }
    .intro {
      margin-left: 0;
      text-align: center;
    }
    .link_p {
      margin-left: 0;
      text-align: center;
    }
    .link {
      text-align: center;
      text-decoration: underline;
      font-size: 1em;
    }
  }
