/* Style for the horizontal navbar */
.navbar {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2em;
  overflow: auto;
}
.navbar a {
  display: block;
  float: left;
  width: 16.66%;
  text-align: center;
  text-decoration: none;
  color:white;
}
/* Hide the menu button on large screen */
@media only screen and (min-width: 1050px) {
  .navbar .mobile {
    display: none;
  }
}
/* Accomodation for smaller screen */
@media only screen and (max-width: 1050px) {
  /* Hide the links on smaller screen */
  a.navbar_large {
    display: none;
  }
  /* Style for the menu button */
  a.mobile {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 1.5em;
  }
  /* Style for the vertical navbar */
  a.responsive {
    width: 100%;
    float: none;
    display: block;
    text-align: center;
  }
}
