/* Style for the cover images */
img {
  width: 400px;
  height: auto;
  float: right;
}
/* Style for the table */
.table_pub {
  margin-bottom: 40px;
}
/* Style for each section */
.content {
  width: 70%;
}
.title {
  font-size: 1.1em;
  font-weight:bolder;
}
.intro {
  text-align: left;
  padding-left: 15px;
  padding-right: 20px;
}
.link{
  padding-left: 15px;
  color: rgb(100, 100, 100);
  font-size: 0.9em;
}
.link a{
  text-decoration: underline;
}
/* Accomodation for smaller screen */
/* Hide mobile version table for larger screen */
@media only screen and (min-width: 1050px) {
  .mobile_content {
    display: none;
  }
}
/* Hide full size table for smaller screen */
@media only screen and (max-width: 1050px) {
  .large {
    display: none;
  }
  /* Set the margin for smaller screen */
  .container_div {
    margin: 0;
  }
  img {
    width: 100%;
  }
  /* Style for content on smaller screen */
  .mobile_content {
    margin-bottom: 80px;
    font-size: 0.7em;
  }
  .mobile_pub {
    margin: 15px;
  }
  .title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.3em;
    font-weight: bolder;
  }
  .intro {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
  }
  .link {
    margin-top: 0;
    padding: 0;
    text-align: center;
    text-decoration: underline;
    font-size: 1em;
  }

}
